.login{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center ;
}
h2{
    margin-top: 20px;
}
.login-table{ 
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    color: white;
    transition: width 1s ease-out, background-color 1s ease-out; 
    margin-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-table:hover{
    background-color: rgba(0, 0, 0, 1);
    border-radius: 30px;
    color: white;
    transition: width 1s ease-in, background-color 1s ease-in;

}
.input{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
   
}
input{
    border-radius: 20px;
    border: solid 2px #E1E1E1;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white ;
    transition: background-color 0.3s ease ;
}
label{
    font-size: small;
}
input:hover{
    background-color: #f9f9f9;;
}
.login-button{
    align-self: flex-end;
}
button{
    border-radius: 20px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-top: 20px;
    height: 25px;
    width: 75px;
    border: solid 2px rgb(99, 99, 99);
    transition: border-color 0.3s ease; 
    font-size: medium;
}

button:hover {
    border-color: #E1E1E1;
}

