@media (min-width: 768px) {
.form-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.form{
    width: 700px;
    height: 400px;
    margin-top: 75px;
    background-color: #F5F9FA ;
    border-radius: 30px;
}
}

@media (max-width: 767px) {
    .form-page{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .form{
        width: 700px;
        height: 460px;
        margin-top: 75px;
        background-color: #F5F9FA ;
        border-radius: 30px;
    }

}