<form #createChoreForm="ngForm" autocomplete="off">
  <div>
  <label for="chore_name">Chore Name:</label>
  <input type="text" id="chore_name" name="chore_name" ngModel>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" ngModel></textarea>
  </div>
  <div class="drop-down">
    <label for="category">Category:</label>
    <select id="category" name="category" ngModel>
      <option value="Cleaning">Cleaning</option>
      <option value="Delivery">Deliver</option>
      <option value="Maintain">maintenance</option>
    </select>
  </div>
  <div>
      <button (click)="submitForm()">Submit</button>
  </div>
</form>
