<form class="eventform" #createEventForm="ngForm" autocomplete="off">
    <div class="textInput">
    <label for="name">Event name:</label>
    <input type="text" id="name" name="name" ngModel>
    </div>
    <div class="textInput">
      <label for="description">Description:</label>
      <textarea id="description" name="description" ngModel></textarea>
    </div>
    <div class="date-time">
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" ngModel>
        </div>
        <div>
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" ngModel>
        </div>
    </div>
    <div>
        <button (click)="submitForm()">Submit</button>
    </div>
  </form>
  