.displayTable{
    background-color: #F5F9FA ;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.tableContent{
    background-color: white;
    border: solid 2px #E1E1E1;
    width: 350px;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
}
.tableContent:hover {
    background-color: #f9f9f9;
  }
.headCard{
    background-color: black;  
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.important{
    background-color: rgb(242, 255, 171);
}

