<div class="headCard">
  <h2>Chores assigned this week.</h2>
</div>

<div class="displayTable">
  <div class="tableContent" *ngFor="let event of displayedSchedule" (click)="toggleDetails(event)">
    <h3>{{event.chore.chore_name}}</h3>
    <p>{{event.colleague.first_name}} {{event.colleague.last_name}}</p>
    <div *ngIf="event.expanded">
      <p class="important">{{event.chore.description}}</p>
    </div>
  </div>
  <div class="pagination">
    <button class="prevPage" (click)="prevPage()" [disabled]="currentPage === 0">Prev</button>
    <button class="nextPage" (click)="nextPage()" [disabled]="currentPage === maxPage">Next</button>
  </div>
</div>
