@media (min-width: 768px) {
.displayTable{
    background-color: #F5F9FA ;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.tableContent{
    background-color: white;
    border: solid 2px #E1E1E1;
    width: 350px;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
}
.tableContent:hover {
    background-color: #f9f9f9;
  }
.headCard{
    background-color: #89ABB4;  
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.important{
    background-color: rgb(242, 255, 171);
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  button{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    height: 30px;
    background-color: white;
    border: solid 1px rgb(99, 99, 99);
    transition: border-color 0.3s ease; 
    font-size: medium;
  }
  button:hover{
    border-color: #E1E1E1;
  }
.prevPage{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .nextPage{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

}
@media (max-width: 767px) {
.displayTable{
    background-color: #F5F9FA ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.tableContent{
    background-color: white;
    border: solid 2px #E1E1E1;
    width: 250px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
}
.tableContent:hover {
    background-color: #f9f9f9;
  }
.headCard{
    background-color: #89ABB4;  
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.important{
    background-color: rgb(242, 255, 171);
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  button{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    height: 30px;
    background-color: white;
    border: solid 1px rgb(99, 99, 99);
    transition: border-color 0.3s ease; 
    font-size: medium;
  }
  button:hover{
    border-color: #E1E1E1;
  }
.prevPage{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .nextPage{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
}

